.experiencia_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.experiencia_container > div{
    background: var(--color-primary-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experiencia_container > div:hover{
    background: transparent;
    border-color: rgb(127, 187, 255);
    cursor: default;
}

.experiencia_container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experiencia_conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.detalhes{
    display: flex;
    gap: 1rem;
}

.detalhes-icone{
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width: 1024px) {

    .experiencia_container{
        grid-template-columns: 1fr;
    }
    .experiencia_container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experiencia_conteudo{
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .experiencia_container{
        gap: 1rem;
    }
    .experiencia_container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
}