header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* Botoes Header */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Botoes Sociais */

.header__sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: fixed;
    left: 2rem;
    bottom: 3rem;
}
.header__sociais::after{
    content: '';
    width: 1px;
    height: 4rem;
    background: var(--color-primary);
}

.eu{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 1.5rem 12rem 1.5rem 12rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* Sobre mim */

.scroll__sobre{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


@media screen and (max-width: 1024px) {
    header{
        height: 68hv;
    }
}

@media screen and (max-width: 600px) {
    header{
        height: 100vh;
    }
    .header__sociais, .scroll__sobre{
        display: none;
    }
}