footer{
    background: var(--color-primary);
    padding: 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
}

footer a{
    color: var(--color-bg);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer_socials{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.footer_direitos{
    margin-bottom: 4rem;
    color: var(--color-bg)
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 600px) {
    .permalinks{
        flex-direction: center;
        gap: 1.5rem;
    }
    .footer_socials{
        margin-bottom: 2.5rem;
    }
}